@import url('https://fonts.googleapis.com/css?family=Kalam|Playfair+Display:400,900&display=swap');
html{--gn-height : 200px;}
body {
  width: 100vw;
  padding: 10vh 10vw 0 10vw;
  height: 1080px;
  overflow: hidden;
    }
#main .section{
    width:100%;
    height: 1080px;
    height:100vh;
    padding-top: var(--gn-height);
    color:#fff;
    box-sizing:border-box
}
#main .section:first-child{
    height:100vh;
    padding-top:100px;
    }
#main .section:nth-child(1){background-color:#000}
#main .section:nth-child(2){background-color:#111}
#main .section:nth-child(3){background-color:#222}
#main .section:nth-child(4){background-color:#333}
#main .section .section-content{
    min-width: 1440px;
    padding: 10vw;
    height:calc(100vh - var(--gn-height));
    margin-right:auto;
    margin-left:auto}
#main .section .section-content h2{color:#fff;font-size:16px;line-height:22px}
  
  
  .slide.active {
      transform: translateX(-100%);
  }

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');
.animate {
  font: bold 70px 'Playfair Display', serif;
  color: #47827c;
  width: 50%;
  text-align: left;
  font-size: 80px; 
  line-height: 50px;
  padding-left: 10%;
  float: right;
  position: relative;
  top: 50vh;
  left: 32vw;
  box-sizing: border-box;
  overflow: hidden;
}
.animate .text {
  opacity: 0.8;
  display: inline-block;
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  opacity: 0;
  -webkit-animation: fade-in 1s forwards;
          animation: fade-in 1s forwards;
}
.animate .t-2 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}
.animate .t-3 {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.animate .t-4 {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}
.animate .t-5 {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}
.animate .t-6 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
fieldset {
    width: 30vw;
    height: 100vh;
    border-top:2px solid #47827c;
}
legend {
    text-align: left;
    padding-right: 15px;
}
  

  /* 팝 */
  body.active-modal {
    overflow: hidden;
  }
  .active-modal {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  body.active-modal .pop{
    transition: 0.2s;
    opacity: 1;
  }
  .pop {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s;
  }
  .container {
    position: relative;
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-right: 100px;
    margin : 20vh 10vw 0 10vw;
  }
  .container span {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .img-view {
    height: 100%;
    position: relative;
    top: 0;
    left: -5vw;
  }
  .img-view img, .img-view .caption {
    position: absolute;
    transition: all 0.6s linear;
  }
  .img-view img {
    display: block;
    width: 100%;
    transition: all 0.6s linear;
  }
  .img-view .caption {
    font-family: 'Playfair Display', serif;
    z-index: 111;
    text-align: center;
    width: 100%;
    height:100%;
    position: absolute;
    top: 50vh;
    left: 0;
    opacity: 0;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .img-view .caption:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
  }
  .img-view .caption .content {
    display: inline-block;
    vertical-align: middle;
    transition: all 1s linear;
  }
  .img-view:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    transition: all 0.3s ease;
    opacity: 0;
  }
  .img-view p {
    font-weight: 100;
    opacity: 0;
    transform: translate(0, 10px);
    -webkit-filter: blur(5px);
    transition: all 0.4s ease;
  }
  .img-view:hover .caption, .img-view:hover:after {
    opacity: 1;
  }
  .img-view:hover p {
    color: #47827c;
    font-weight: 700;
    padding: 15px;
    /* border-radius: 10%; */
    opacity: 1;
    transform: translate(0, 33vh);
    -webkit-filter: blur(0);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .img-view:hover img {
    transform: scale(0.98);
    /* opacity: 0.7; */
  }
  
  
  .sub{
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 30%;
    margin-right: 10vw;
    padding-top: 12%;
    box-sizing: border-box;
    color: #47827c;
    float: right;
    line-height: 170%;
    text-align: left;
  }
  .box-modal {
    z-index: 10000;
    position: fixed;
    width: 100vh;
    height: 100vh;
    left: 0px;
    top: 0px;
    visibility: hidden;
  }
  .box-modal .overlay {
    position: absolute;
    width: 55vw;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #47827c;
    opacity: 0;
    transition: opacity 1.3s;
  }
  .box-modal .body-modal {
    max-height: 0px;
    opacity: 0;
    overflow: hidden;
  }
  .india{
    width: 15vw;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 10vh;
    left: 28vw;
  }
  .india2{
    border-radius: 5px;
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 10vh;
    left: 11vw;
  }
  .india3{
    border-radius: 5px;
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 33vh;
    left: 11vw;
  }
  .india4{
    border-radius: 5px;
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 40vh;
    left: 28vw;
  }
  .india5{
    border-radius: 5px;
    width: 15vw;
    display: inline-block;
    position: absolute;
    top: 60vh;
    left: 11vw;
  }

  .inner-body-modal{
    width: 70vw;
    height: 100vh;
    
  }
  .box-modal .body-modal .inner-body-modal {
    border-radius: 8px;
  }
  .box-modal.modal-show {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: visible;
    transition: all 0.9s;
  }
  .box-modal.modal-show .overlay {
    opacity: 1;
    transition: opacity 1.3s;
  }
  .box-modal.modal-show .body-modal {
    max-height: 100vh;
    opacity: 1;
    transition: 0.3s max-height 0.8s, 0.3s opacity 0.6s;
  }

  /* cursor */
  .blind{display:none;visibility:hidden}
  #cursor-dot,#cursor-bg,#progress{overflow:hidden;position:fixed;top:50%;left:50%;box-sizing:border-box;transform:translateX(-50%) translateY(-50%);pointer-events:none}
  #cursor-dot{z-index:100000;width:4px;height:4px;border-radius:50%;background-color:white}
  #cursor-dot.active{width: 8px;height: 8px;background-color: #3c3c3c;}
  #cursor-bg{z-index:100000;width:15px;height:15px;border:1px solid #3c3c3c;border-radius:50%;transition:width 200ms ease-in-out,height 200ms ease-in-out,background-color 200ms ease-in-out,border-color 200ms ease-in-out}
  #progress{z-index:100000;color:#fff;width:15px;height:15px;border-radius:50%;transition:width 200ms ease-in-out}
  #cursor-bg.active{width:30px;height:30px;background-color:#000;mix-blend-mode:darken}
  #progress.active{width:30px;height:30px}
  #progress span{display:block;position:absolute;top:50%;left:50%;text-align:center;transform:translateX(-50%) translateY(-50%)}
  #progress.active span::after{content:'';text-transform:uppercase;font-size:10px;line-height:16px;opacity:0;transition:opacity 200ms ease-in-out}
  #progress.active span::after{opacity:1.0}
  

@media only screen and (min-width:1920px){
    .notice::before{content:"1920px ~"}
    html{font-size: 15px;}
    .img-view{width: 600px;}
    .sub{font-size: 1.5rem}
}
@media only screen and (min-width:1440px) and (max-width:1919px){
    .notice::before{content:"1440px ~ 1919px"}
    html{font-size: 13px;}
    .img-view{width: 600px;}
    .img-view .caption {top: 30%;}
    .sub{font-size: 1.5rem}
}
@media only screen and (min-width:1237px) and (max-width:1439px){
    .notice::before{content:"1280px ~ 1439px"}
    .img-view {width: 600px;}
    .img-view .caption {top: 24%;}
}
@media only screen and (min-width:1024px) and (max-width:1237px){
    .notice::before{content:"1024px ~ 1246px"}
    .img-view {width: 500px;}
    .img-view .caption {top: 24%;}
}
@media only screen and (max-width:1023px){
    .img-view {width: 450px;}
    .img-view .caption {top: 24%;}

}
@media only screen and (min-width:768px) and (max-width:1023px){
    .notice::before{content:"768px ~ 1023px"}
}
@media only screen and (min-width:586px) and (max-width:767px){
    .notice::before{content:"586px ~ 767px"}
}
@media only screen and (min-width:414px) and (max-width:585px){
    .notice::before{content:"414px ~ 585px"}
}
@media only screen and (min-width:375px) and (max-width:413px){
    .notice::before{content:"375px ~ 413px"}
}
@media only screen and (min-width:320px) and (max-width:374px){
    .notice::before{content:"320px ~ 374px"}
}
@media only screen and (max-width:319px){
    .notice::before{content:"~ 319px"}
}